body {
  color: white;
}

h2 {
  font-weight: bolder;
  font-size: 250%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subtext {
  opacity: 80%;
  font-size: small;
  padding-top: 0;
  margin-top: 0;
}

#Logo {
  padding-left: 250px;
  padding-right: 1000px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2937;
  display: flex;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.left {
  margin: 0;
  padding-left: 250px;
  padding-right: 0px;
  padding-top: 0px;
  width: 50%;
  background-color: #1f2937;
}

.left-content {
  width: 300px;
}

.right {
  height: 300px;
  width: 50%;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #1f2937;
}

.picture {
  background-color: rgba(169, 169, 169, 0.349);
  height: 150px;
  width: 600px;
  text-align: center;
  padding-top: 100px;
}

.container {
  display: flex;
}

button {
  background-color: #3882f6;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  box-shadow: none;
  border-color: #3882f6;
  text-align: center;
}

h3 {
  color: black;
  margin-left: 800px;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: bolder;
}

.boxes {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

.box {
  height: 135px;
  width: 7%;
  margin: 20px;
  margin-bottom: 5px;
  border: 3px solid rgb(0, 140, 255);
  border-radius: 10px;
  box-sizing: border-box;
}

.underbox {
  display: flex;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.texts {
  height: 135px;
  width: 7%;
  margin: 20px;
  margin-top: 0px;
  color: #1f2937;
}

.container3 {
  display: flex;
  height: auto;
  width: 100%;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  width: 750px;
  margin-left: 120px;
  padding-top: 80px;
}

.author {
  width: 100%;
  height: 200px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: bolder;
  background-color: #e5e7eb;
  color: #1f2937;
  display: inline-block;
  padding-left: 1200px;
  padding-top: 0px;
}
